html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.wrapper {
    flex: 1;
}

.container {

    @media (min-width: 576px) {
        max-width: 100%;
    }

    @media (min-width: 1200px) {
        max-width: rem(1190);
    }

    @media (min-width: 1500px) {
        max-width: rem(1466);
    }
}

.flex-row {
    display: flex;
    width: 100%;
}